<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href='favicon.ico'>

    <title>Paketci</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href='styles/bootstrap.css'>
    <link rel="stylesheet" href='styles/layout.css'>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=> Paketçi </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href=>
                            <i class="ion-ios-home"></i> Home</a>
                    </li>
                    <li>
                        <a href=>
                            <i class="ion-ios-list" aria-hidden="true"></i> Packets</a>
                    </li>
                    <li>
                        <a href=>
                            <i class="ion-ios-list" aria-hidden="true"></i> Couriers</a>
                    </li>
                    <li>
                        <a href=>
                            <i class="ion-ios-pulse-strong"></i> Real Time Monitor </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href=>
                            <i class="ion-log-out"></i> Logout</a>
                    </li>
                    <li>
                        <a href=>
                            <small> Version 0.0.1 </small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
            <div class="col-md-9">
                <iframe width="850" height="600" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAehQZwQFBMMFUuW4aamsSFIZOxCvwc1zw
                      &q=Space+Needle,Seattle+WA" allowfullscreen>
                </iframe>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Couriers </h3>
                    </div>
                    <div class="panel-body" style="overflow-y: auto; height:550px;">
                        <ul class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="courier in couriersToShow">
                                {{courier._id}} <div align="right">{{courier.remainingCapacity-courier.loadCapacity}}/{{courier.remainingCapacity}}</div>
                                <small>{{courier.curLocation.lat}} {{courier.curLocation.long}} </small>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p>
                {{message}}
            </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td> Location </td>
                        <td> Destination </td>
                        <td> Weight </td>
                        <td> State </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="packet in packetsToShow">
                        <td>{{ packet.initLocation }}</td>
                        <td>{{ packet.destLocation }}</td>
                        <td>{{ packet.weight }}</td>
                        <td>{{ packet.state }}</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li>
                    <a ng-click="getPackets()" href="#"> Get Packages </a>
                </li>
                <li>
                    <a ng-click="getCouriers()" href="#"> Get Couriers </a>
                </li>
                <li>
                    <a ng-click="prevPage()" href="#"> Back </a>
                </li>
                <li>
                    <a ng-click="nextPage()" href="#"> Next </a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $scope.getPackets = function () {
                //pagination system
                $scope.linePerPage = 10;
                $scope.arrayPosition = 0;
                $scope.nextPage = function () {
                    $scope.arrayPosition += $scope.linePerPage;
                    console.log("nextpage");
                    $scope.packetsToShow = $scope.packets.slice($scope.arrayPosition, $scope.arrayPosition + $scope.linePerPage);
                }
                $scope.prevPage = function () {
                    $scope.arrayPosition -= $scope.linePerPage;
                    console.log("prevpage");
                    $scope.packetsToShow = $scope.packets.slice($scope.arrayPosition, $scope.arrayPosition + $scope.linePerPage);
                }

                //get data from server
                $http.get("http://localhost:3000/api/packet")
                    .then(function (response) {
                        console.log(response.data);
                        $scope.packets = response.data;
                        $scope.packetsToShow = response.data.slice($scope.arrayPosition, $scope.linePerPage);
                        $scope.message = "Packages are received."
                    });
            };

            $scope.getCouriers = function () {
                //get data from server
                $http.get("http://localhost:3000/api/courier")
                    .then(function (response) {
                        console.log(response.data);
                        $scope.couriers = response.data;
                        $scope.couriersToShow = response.data;
                    });
            };

        });

        app.filter('range', function () {
            return function (input, total) {
                total = parseInt(total);
                for (var i = 0; i < total; i++)
                    input.push(i);
                return input;
            };
        });

    </script>



</body>

</html>